{
    "endpoint_address": "{{ ansible_fqdn }}",
    "dns_servers": [
        "1.1.1.1"
    ],
    "mtu": "1280",
    "persistent_keepalive": "15",
    "config_file_path": "/etc/wireguard/wg0.conf",
    "updated_at": "1990-01-01T00:00:00.000000000Z"
}