#
# ansible managed
#

[Unit]
Description=Restart WireGuard
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop wg-quick@wg0.service
ExecStart=/usr/bin/systemctl start wg-quick@wg0.service

[Install]
WantedBy=multi-user.target
